{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Your link is ready</h2>
                <div class="card">
                    <div class="card-body">
                    <p style="font-size: 2rem;">{{ link }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}