{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Here's your decrypted loot!</h2>
                <fieldset>
                    <div class="form-group">
                        <textarea maxlength="64000" class="form-control" rows="10" name="mydata">{{ secret }}</textarea>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}